Loop

In [ ]:
data = 'python'

In [ ]:
data[0]

'p'

In [ ]:
data[-1]

'n'

In [ ]:
for x in data:
  print(x,'x')

p x
y x
t x
h x
o x
n x

In [ ]:
range(10)

range(0, 10)

In [ ]:
for x in range(len(data)):
  print(data[x])

p
y
t
h
o
n

In [ ]:
len(data)

6

In [ ]:
num = ['1','2','3','4','5','6']
for i in range(len(num)):
  print(num)

['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']

In [ ]:
num = ['1','2','3','4','5','6']
for i in range(len(num)):
  print(num[i])

1
2
3
4
5
6

In [ ]:

data = 'I am a student'
for x in range(len(data)):
   print(data[x])

data.split()
for i in range(len(data)):
  print(data[i],i)

I

a
m

a

s
t
u
d
e
n
t
I 0
  1
a 2
m 3
  4
a 5
  6
s 7
t 8
u 9
d 10
e 11
n 12
t 13

In [ ]:
n= [2,3,4,55,66,88,32]
total = 0
for x in n:
  total = total+x
  #print(total,x)
  print('Total',total)

Total 2
Total 5
Total 9
Total 64
Total 130
Total 218
Total 250

In [ ]:
for i in range(10):
  print('Data science')

Data science
Data science
Data science
Data science
Data science
Data science
Data science
Data science
Data science
Data science

In [ ]:
for i in range(10):
  print('Data science',i)

Data science 0
Data science 1
Data science 2
Data science 3
Data science 4
Data science 5
Data science 6
Data science 7
Data science 8
Data science 9

In [ ]:
for i in range(5,10):
  print('Data science',i)

Data science 5
Data science 6
Data science 7
Data science 8
Data science 9

In [ ]:
for i in range(4,10,2):
  print('Data science',i)

Data science 4
Data science 6
Data science 8

In [ ]:
for i in range(50,10,-5):
  print('Data science',i)

Data science 50
Data science 45
Data science 40
Data science 35
Data science 30
Data science 25
Data science 20
Data science 15

While loop

In [ ]:
i = 0
while (i<=10):
  print(i)
  i +=1 #i =i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while (i<=10):
  print(i,'Masum Utsso')
  i +=1 #i =i+1

2 Masum Utsso
3 Masum Utsso
4 Masum Utsso
5 Masum Utsso
6 Masum Utsso
7 Masum Utsso
8 Masum Utsso
9 Masum Utsso
10 Masum Utsso

In [ ]:
i = 1
while (i<=10):
  print(i,'Masum Utsso')
  i +=2

1 Masum Utsso
3 Masum Utsso
5 Masum Utsso
7 Masum Utsso
9 Masum Utsso

In [ ]:
data ='Masum UTSSO'
data[0]

'M'

In [ ]:
index = 0
while index<len(data):
  print(data[index])
  index  = index+1

M
a
s
u
m

U
T
S
S
O

In [ ]:
data.split()

['Masum', 'UTSSO']

In [ ]:
data[-1]

'O'

In [ ]:
n=[2,4,56,55,33,77]
total = 0
index=0
while(index<len(n)):
  total = total +n[index]
  print(index,total)
  index+= 1

0 2
1 6
2 62
3 117
4 150
5 227

nested loop

In [12]:
rows = 10
#outer loop
for x in range (1,rows+1):
  #inner loop
  for y in range (1,x+1):
    print('#', end=' ')
  print('')

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #

In [33]:
num = [1,2,3,4,5]
#outer loop
for els in num:
#inner loop
 index=0
 while index<len(num):
    print(num[index],end=' ')
    index=index+1
 print('\n')

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5